
::-webkit-scrollbar {
  width: 8px;
  transition: width 0.3s ease;
}

::-webkit-scrollbar-track {
  background: #ffbba8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c74a27;
  border-radius: 20px;
  transition: background 0.3s ease, height 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #d43306;
}

/* ========== Properties Panel ========== */
.properties-panel {
  position: fixed;
  top: 50%;
  right: 0;
  overflow: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 10px;
  padding-top: 0;
  border-radius: 10px;
  width: 400px;
  height: 50vh;
  max-width: 90%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

.properties-panel h3 {
  margin-top: 0px;
  position:sticky;
  top: 0;
  margin: 3% 0;
  background: #fff;
  width: 100%;
  height: 5vh;
  padding: 20px 0;
  color: #c74a27;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  cursor: all-scroll;
  z-index: 1;
}


/* ========== Close Button ========== */
.properties-panel .close-btn {
  font-size: 1.5rem;
  color: red;
  cursor: pointer;
  margin-top: 0;
  transition: transform 0.3s ease, color 0.3s ease;
}


/* ========== Input / Select Fields ========== */
.property-panel {
  display: flex;
  flex-direction: column;
}

.property-panel input,
.property-panel select {
  border-radius: 6px;
  padding: 8px;
  border: 2px solid #080808;
  margin-bottom: 20px;
  margin-top: 3px;
  color: #0e0d0d;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}