
.properties-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 43vh;
  color: #000000;
  padding: 1rem;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0); 
  font-family: 'Inter', sans-serif;
   cursor: all-scroll;
   font-weight: 600;
}



.properties-panel h3 {
  margin-top: 0;
  color: #03f70f;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: all-scroll;
}

.properties-panel .close-btn {
  
  font-size: 1.5rem;
  color: #19f005;
  cursor: pointer;
  transition: color 0.4s ease;
}

.properties-panel .close-btn:hover {
  color: #fd0202;
}

.property-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.property-panel input,
.property-panel select {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #444;
  background: #050505;
  color: #fff;
  font-size: 0.95rem;
}



