
::-webkit-scrollbar {
  width: 4px;
  transition: width 0.3s ease;
}

::-webkit-scrollbar-track {
  background: #ffbba8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 20px;
  transition: background 0.3s ease, height 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--background);
}

/* ========== Properties Panel ========== */
/* .properties-panel {
 
  width: 300px;
  overflow: auto;
  transform: translate(-50%, -50%);
  background: var(--text-white);
  padding: 1rem;
  border-radius: 10px;
  width: 20%;

  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  z-index: 1;
  animation: fadeIn 0.3s ease-in-out;
} */
 .main{
  width: 23%;
  height: auto;
  background-color: #f8f5f5;
 }
.properties-panel {
  width: 80%;
position:sticky;
  top: 50px;
  margin:50px auto ;
  background: var(--text-white);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 1.2rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
  height:fit-content;

}
.properties-panel h3 {
  position:sticky;
  top: 0;
  margin: 0  0 .8rem;
  background: var(--text-white);
  width: 100%;
  height: 5vh;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  cursor: all-scroll;
  z-index: 1;
}



.properties-panel .close-btn {
  color: red;
  cursor: pointer;
  margin-top: 5px;
  transition: transform 0.3s ease, color 0.3s ease;
}


.property-panel {
  display: flex;
  flex-direction: column;
}

.property-panel input[type=text],
.property-panel select {
  border-radius: 6px;
  padding: 8px;
  border: 1px solid lightgray;
  background-color: var(--text-white);
  outline:none;
  margin-bottom: 20px;
  margin-top: 3px;
}

.property-panel label{
      font-weight: 560;
      font-size: small;
}
.property-panel input[type=color]{
  padding: 3px;
   margin-bottom: 20px;
  margin-top: 3px;
}
