body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.toolbar {
  background: #f0f0f0;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.editor-body {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 200px;
  background: #eee;
  padding: 10px;
}

.sidebar.right {
  border-left: 1px solid #ccc;
}

.canvas {
  flex: 1;
  /* background: #e00707; */
  padding: 20px;
  /* align-items: ; */
  
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.properties-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #999;
  cursor: pointer;
  margin-left: auto;
}

.close-btn:hover {
  color: #000;
}

