.scroll-showcase {

 padding: 2rem 2rem;
    background-color: #fefefe;
    color: #1e1e1e;
    text-align: center;
    max-width: 800px;
    margin: 2rem auto;
    border-radius: 2rem;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0 2rem;
  gap: 2rem;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  max-width: 1200px;
  width: 100%;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.card {
  min-width: 300px;
  height: 180px;
  flex-shrink: 0;
  scroll-snap-align: start;
  border-radius: 12px;
  background: #ddd;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}

.component-img-div {
  background-image: url('../../public/assets/component.png' );
   background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.canvas-img-div {
  background-image: url('../../public/assets/canvas.png');
   background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.propert-img-div{
  background-image: url('../../public/assets/property-img.png');
   background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.Header-img {
  background-image: url('../../public/assets/nav.png');
   background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.img-div {
  background-image: url('../../public/assets/full-page.png');
   background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}