
.componentDiv.button{
width: 20px;
}

.componentDiv {
  min-width: 60px;
  min-height: 45px;
  text-align: center;
  cursor: pointer;
  font-size: 18px; 
  border-radius: 8px;
  border: solid 1px #777;
  background-color: var(--text-white);
  color: #777;
  transition: background-color 0.3s, transform 0.2s; 
}

.linkTag {
  display: block !important;
}

.componentDiv:hover {
  background-color:  rgb(255, 245, 240);
  border: solid 1px var(--primary-color);
  transform: scale(1.05); 
}

.paracontainer{
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.componentLabel {
  font-size: 12px;
  color: #777;
}

#components {
  position: sticky;      
  top: 50px;
  background-color: var(--text-white);
  border-radius: 8px;   
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  padding: 10px;         
  /* z-index: 1000;       */
}